*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
@font-face {
    font-family: 'GTAmerica';
    src: url('GTAmerica/gt-america-expanded-bold-webfont.woff2') format('woff2'),
         url('GTAmerica/gt-america-expanded-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image:linear-gradient(120deg,#000000,#1d1c1c);
    color:white;
    font-family:'GTAmerica';
    font-weight:normal;
    font-style: normal; 
    font-size:100%;
    min-height: 100vh;
}
header{
    font-size:1.5rem;
}

header,form{
    min-height:20vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

form input,form button{
    padding:0.5rem;
    font-size:2rem; 
    border:none;    
    background:white;
}

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .contentcontainer img{
      width:80%;
      height:80%;
      margin-left:5vh;
      margin-top:20vh;
  }
  .insidecontent{
      margin-left:5vh;
      margin-top:2vh;
      margin-right:20vh;
  }
  p{
      font-size:1.5em;
  }
  .bottom{
      margin-left:5vh;
      margin-top:20vh;
  }
